@{
    ViewData["Title"] = "Главная страница";
    var user = ViewData["user"];
}

<div class="main-page">
    <h1 class="main-title">
        Забота о здоровье<br>
        вашего питомца<br>
        начинается здесь
    </h1>
    <a class="main-button text-white nav-link" asp-controller="Home" asp-action="Catalog">Узнать услуги</a>
</div>
