@{
    ViewData["Title"] = "О нас";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 book-description">
            <h1 class="about-us">О нас</h1>
            <h2 class="about-title">
                Наша ветеринарная клиника предоставляет качественные услуги по уходу за животными.<br />
                Мы заботимся о здоровье ваших питомцев уже много лет.<br />
                В нашей клинике работают опытные ветеринары, готовые помочь в любой ситуации.<br />
                Мы предлагаем широкий спектр услуг: от профилактических осмотров до сложных хирургических операций.<br />
                Также у нас есть аптека с необходимыми лекарствами и кормами.<br />
                Мы ценим каждого клиента и стремимся создать максимально комфортные условия для вас и ваших питомцев.<br />
            </h2>
        </div>
        <div class="col-md-6 book-image">
            <img src="/images/О нас.jpg" alt="Bookshelf" class="img-fluid">
        </div>
    </div>
</div>


