@model IEnumerable<WebApplication2.Models.OrderHistory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>История заказов</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Общая цена
            </th>
            <th>
                Дата заказа
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDateTime)
            </td>
        </tr>
}
    </tbody>
</table>
